body {
    background-color: #FFFAE2;
    text-align: center;
}
#header {
    font-size: 1.75rem;
    color: #8A817C;
}
#pop {
    color: #e580ff;
}
#pop.hidden {
    display: none;
}
.bubble {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    display: inline-block;
}
#message {
    color: #6B2737;
}
#message.hidden {
    display: none;
}

